/************************************************* FONTS ******************************************************************************/
@font-face 
{
    font-family: 'Futura'; 
    src: url('../font/Futura Heavy font.ttf'); 
}

@font-face 
{
    font-family: 'Futura-Medium'; 
    src: url('../font/futura medium bt.ttf'); 
}
/************************************************* BODY AND MAIN CONTAINERS **********************************************************/

.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(10px);
    }
  }

.no-found-pokemon-text
{
  font-size: 50px;
}