main
{
    display: flex;
    flex:1;
    flex-direction: column;
}

header
{
    font-family: 'Futura';
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
}


.project-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.button-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.card-element, .pokemonEditContainer {
    background-color: #F5F8FE;
    padding: 15px 20px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 4px rgba(0,0,0,0.75);
    margin: 10px;
}

.form-control:valid , .form-select:valid{
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
  }
/************************************************* FOOTER ******************************************************************************/

footer {
    bottom: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(26, 25, 24, 0.3), #1A1918);
    padding: 10px;
    width: 100%; 
    top: 100%;
    box-sizing: border-box;
}

.footer-copyright{
    color: #EDEDEE;
    font-weight: bold;
    font-size: 16px;
}
.social-icons{
    display: flex;
    flex-direction: row;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #EDEDEE; 
    border-radius: 50%; 
    margin: 5px; 
    cursor: pointer;
    color: #323131;
    text-decoration: none;
}